<html>
  <head>
    <link rel='stylesheet' type='text/css' href='style.css'>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script type='text/javascript' src='/socket.io/socket.io.js'></script>
  </head>
  <body>
    <h1>Chat Here!</h1>
    <div id='chatBox'>
    </div>
    <form id='messageForm'>
      <input id='messageInput' type='text'>
      <input type='submit' value='Send'>
    </form>
    <script>
      $(document).ready(function() {  
        // connect to sockets
        var socket = io.connect();
        // prompts the user for a name and stores name in variable currentUser
        var currentUser = prompt('What is your name?');
        // emitting event 'newUser' and passing user name to the server
        socket.emit('newUser', {name: currentUser});
        // function to be performed when message is submitted by the user
        $('#messageForm').submit(function() {
          event.preventDefault()
          // setting variable 'message' equal to the name of the user plus a string, and the user's message entered
          var message = currentUser + ': ' + $('#messageInput').val();
          // emitting event 'messageSubmit' and passing data stored in variable 'message' to the server
          socket.emit('messageSubmit', {message: message})
          $('#messageInput').val('');
        })
        // listening for event 'initialMessages' and obtaining data from server to display past messages to new user
        socket.on('initialMessages', function(data) {
          // display old messages stored in 'messages' array to new user entering room
          for(message in data.messages) {
            $('#chatBox').append('<p>' + data.messages[message] + '</p>');
          }
        })
        // listening for event 'newMessage' and obtaining data from server
        socket.on('newMessage', function(data) {
          // add new message to display to users 
          $('#chatBox').append('<p>' + data.message + '</p>');
        })
      })
    </script>
  </body>
</html>
